<% include ./header%>


<h2><%= users.name %></h2>
<img src=<%= users.image%> width="100px" height="100px"/>
<h3><%= users.email %><h3>
<h4><%= users.timestamp %></h4>

<h3>Albums</h3>

<% albums.forEach(function(album) { %>
  <h4><a href="/albums/<%= album.id%>"><%= album.title %></a></h4>
  <h6><%= album.artist%></h6>
<% }) %>

<h3>Your Reviews</h3>

<% reviews.forEach(function(review) { %>

  <% albums.forEach(function(album) { %>
    <% if (album.id === review.album_id) { %>
      <h4><a href="/albums/<%= album.id%>"><%= album.title %></a></h4>
    <% } %>
  <% }) %>

  <h5><%= review.review%><h5>

  <form method="post" action="/reviews/<%= review.id%>">
  	<input type="submit" value="Delete"/>
  </form>

<% }) %>
